#chalice_box {
    display: flex;
    width: 600px;
    height: auto;
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 2px solid #161313;
    padding: 2px;
}

#chaliceDropdown {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#Character_main{
    display: flex;
    flex-basis: 25px;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    padding: 2px;
    border: 2px solid #3a3664;
    border-radius: 10px;
    background-color: #4c4264ff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

#head {
    font-size: 18px;
    font-weight: bold;
    color: #e2dddd;
    margin-bottom: 5px;
    text-decoration: underline;
}

#left_modal_body {
    border-right: 2px solid #00000051;
    padding: 10px;
}

#stat_left {
    border-right: #00000051 2px solid;
    padding-right: 10px;
}

.below_character {
    font-size: 14px;
    color: #fdf8f8;
    overflow-wrap: break-word;
}

.characters {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100px;
    height: auto;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #4c4264ff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 10px;
}
.character-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-weight: bold;
    padding: 5px;
    background-color: #e0e0e0;
    text-align: center;
}

.character_stats {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border: 2px solid #3a3664;
    border-radius: 10px;
    background-color: #4c4264ff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #e2dddd;
    width: 85%;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.divider {
    border-bottom: 2px solid #00000051;
}

.flex_modal_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px;
}

.flex_modal {
    display: flex;
    flex-direction: column;
}

#left_modal_body {
    flex: 0 0 auto;
    width: fit-content;
}

#right_modal_body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
}

#right_modal_body .dropdown {
    width: 100%;
}

#right_modal_body .btn {
    width: 100% !important;
}

.relic_slot {
    border: 1px solid #000;
    border-spacing: 20px;
    background-color: #373737;
}

.relic_slot_color {
    width: 100%;
    height: auto;
}