{% extends "layout.html" %}

{% block title %}Home - NightreignBuilder{% endblock %}

{% block content %}
    <p class="mt-4 text-center">Welcome to NightreignBuilder, {{ session["name"] }}!</p>

    <table class="mx-auto mt-4">       
        <tr>
            <td>
                <input class="characters" id="wylder" type="image" src="/static/images/character_icons/wylder_character_icon.png" alt="Workshop/character1"onclick="location.href='/workshop?character=wylder'">
                <div class="character-label">Wylder</div>
            </td>
            <td>
                <input class="characters" id="recluse"  type="image" src="/static/images/character_icons/recluse_character_icon.png" alt="Workshop/character2"onclick="location.href='/workshop?character=recluse'">
                <div class="character-label">Recluse</div>
            </td>
            <td>
                <input class="characters" id="duchess" type="image" src="/static/images/character_icons/duchess_character_icon.png" alt="Workshop/character3"onclick="location.href='/workshop?character=duchess'">
                <div class="character-label">Duchess</div>
            </td>
            <td>
                <input class="characters" id="executor" type="image" src="/static/images/character_icons/executor_character_icon.png" alt="Workshop/character4"onclick="location.href='/workshop?character=executor'">
                <div class="character-label">Executor</div>
            </td>
        </tr>
        <tr>
            <td>
                <input class="characters" id="guardian" type="image" src="/static/images/character_icons/guardian_character_icon.png" alt="Workshop/character5"onclick="location.href='/workshop?character=guardian'">
                <div class="character-label">Guardian</div>
            </td>
            <td>
                <input class="characters" id="ironeye"   type="image" src="/static/images/character_icons/ironeye_character_icon.png" alt="Workshop/character6"onclick="location.href='/workshop?character=ironeye'">
                <div class="character-label">Ironeye</div>
            </td>
            <td>
                <input class="characters" id="raider" type="image" src="/static/images/character_icons/raider_character_icon.png" alt="Workshop/character7"onclick="location.href='/workshop?character=raider'">  
                <div class="character-label">Raider</div>
            </td>
            <td>
                <input class="characters" id="revenant" type="image" src="/static/images/character_icons/revenant_character_icon.png" alt="Workshop/character8"onclick="location.href='/workshop?character=revenant'">
                <div class="character-label">Revenant</div>
            </td>
        </tr>
    </table>
{% endblock %}