{% extends "layout.html" %}

{% block title %}Workshop - NightreignBuilder{% endblock %}

{% block content %}
    <div style="display: flex; gap: 30px; margin-top: 40px">
        <div id="Character_main">
            <img src="/static/images/character_models/{{ character.image }}" alt="{{ character.name }} Model" style="width: 200px; height: auto; border: 2px solid #000; border-radius: 10px;">
            <h2 class="below_character" id="head">{{ character.name }}</h2>
            <h4 class="below_character">Role: {{ character.role }}</h4>
            <h4 class="below_character">Description: {{ character.description }}</h4>
        </div>
        <div class="character_stats">
            <div id="stat_left">
                <p>Main Weapon: {{ character.main_weapon }}</p>
                <p>Secondary Weapon: {{ character.secondary_weapon }}</p>
                <p>Passive: {{ character.passive }}</p>
                <p>Skill: {{ character.skill }}</p>
                <p>Ultimate: {{ character.ultimate }}</p>
                <p>Vigor: {{ character.vigor }}</p>
                <p>FP: {{ character.fp }}</p>
                <p>Endurance: {{ character.endurance }}</p>
            </div>
            <div id="stat_right">
                <p>STR: {{ character.STR }}</p>
                <p>DEX: {{ character.DEX }}</p>
                <p>INT: {{ character.INT }}</p>
                <p>FAI: {{ character.FAI }}</p>
                <p>ARC: {{ character.ARC }}</p>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!-- Chalice Dropdown -->
    <div class="dropdown" id="chaliceDropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="workshopDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            Chalices
        </button>
        <ul class="dropdown-menu" aria-labelledby="workshopDropdown">
            <!-- Global Chalices -->
            {% for chalice in global_chalices %}
            <li>
                <a class="dropdown-item" href="#">
                    <img src="{{ url_for('static', filename=chalice.img_base.replace('static/', '')) }}"
                        alt="{{ chalice.name }}"
                        style="width: 50px; height: auto;">
                    {{ chalice.name | format_name }}
                </a>
            </li>
            {% endfor %}
            <!-- Character-Specific Chalices -->
            {% for chalice in character_chalices %}
            <li>
                <a class="dropdown-item" href="#">
                    <img src="{{ url_for('static', filename=chalice.img_base.replace('static/', '')) }}"
                        alt="{{ chalice.name }}"
                        style="width: 50px; height: auto;">
                    {{ chalice.name | format_name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <!-- Chalice Slot Table -->
    <div>
        <table id="chalice_box">
            <tr>
                <td class="relic_slot">
                    <img class="relic_slot_color" id="0" src="" alt="">
                    <img class="relic_layered_image" id="relic_layered_image_0" src="" alt="">
                </td>
                <td class="relic_slot">
                    <img class="relic_slot_color" id="1" src="" alt="">
                    <img class="relic_layered_image" id="relic_layered_image_1" src="" alt="">
                </td>
                <td class="relic_slot">
                    <img class="relic_slot_color" id="2" src="" alt="">
                    <img class="relic_layered_image" id="relic_layered_image_2" src="" alt="">
                </td>
                <td class="relic_slot">
                    <img class="relic_slot_color" id="3" src="" alt="">
                    <img class="relic_layered_image" id="relic_layered_image_3" src="" alt="">
                </td>
                <td class="relic_slot">
                    <img class="relic_slot_color" id="4" src="" alt="">
                    <img class="relic_layered_image" id="relic_layered_image_4" src="" alt="">
                </td>
                <td class="relic_slot">
                    <img class="relic_slot_color" id="5" src="" alt="">
                    <img class="relic_layered_image" id="relic_layered_image_5" src="" alt="">
                </td>
            </tr>
        </table>
        <button class="btn btn-dark" id="saveAllBtn" style="margin-top: 15px;">Save All</button>
    </div>

    <!--Modal for Relic Builder-->
    <div class="modal fade" id="relicBuilder" tabindex="-1" aria-labelledby="relicBuilderLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 90%; width: auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="relicBuilderLabel">Relic Builder</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="flex_modal_container">
                    <div class="flex_modal" id="left_modal_body">
                    <!-- Modal Body Slot Image -->
                        <div class="modal-body">
                            <div style="position: relative; display: inline-block;">
                                <img id="relicImageModal" src="" alt="Relic Image" style="width: 150px; height: 150px; border: 2px solid #000; display: block;">
                                <img id="relicTypeModal" src="" alt="Relic Type Image" style="width: 125px; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;">
                            </div>
                        </div>
                        <!-- Modal Dropdowns for Relic Version -->
                        <div>
                        <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="relicVersion" data-bs-toggle="dropdown" aria-expanded="false" style="width: 150px; margin-left: 15px; margin-bottom: 10px;">
                            Select Version
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="relicVersion">
                            <li>
                                <a class="dropdown-item" href="#" id="standard">Standard</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" id="deep">Deep</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" id="sovereign">Sovereign</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" id="remembrance">Remembrance</a>
                            </li>
                        </ul>    
                    </div>
                    <div class="dropdown" id="modalDropdownRelicType">
                        <a class="btn btn-dark dropdown-toggle disabled" href="#" role="button" id="relicDropdown" aria-expanded="false" style="width: 150px; margin-left: 15px; margin-bottom: 10px; pointer-events: none; opacity: 0.65;">
                            Select Relic Type
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="relicDropdown">
                            <li>
                                <a class="dropdown-item" href="#" id="r1">Delicate</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" id="r2">Polished</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" id="r3">Grand</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown" id="sovereign_menu">
                        <a class="btn btn-dark dropdown-toggle disabled" href="#" role="button" id="sovereignDropdown" aria-expanded="false" style="width: 150px; margin-left: 15px; margin-bottom: 10px; pointer-events: none; opacity: 0.65;">
                            Sovereign
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="sovereignDropdown">
                            {% for relic in guaranteed_relics %}
                            {% if not relic.is_rememberance %}
                            <li>
                                <a class="dropdown-item" href="#" id="sovereign_{{ relic.id }}" data-color="{{ relic.color }}">{{ relic.name }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="dropdown" id="remembrance_menu">
                        <a class="btn btn-dark dropdown-toggle disabled" href="#" role="button" id="remembranceDropdown" aria-expanded="false" style="width: 150px; margin-left: 15px; margin-bottom: 10px; pointer-events: none; opacity: 0.65;">
                            Remembrance
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="remembranceDropdown">
                            {% for relic in guaranteed_relics %}
                            {% if relic.is_rememberance %}
                            <li>
                                <a class="dropdown-item" href="#" id="remembrance_{{ relic.id }}" data-color="{{ relic.color }}">{{ relic.name }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    </div>
                    <div class="flex_modal" id="right_modal_body">
                        <!-- Effect buttons -->
                        <div class="dropdown" id="effect_1_container">
                            <a href="#" class="btn btn-secondary dropdown-toggle disabled" id="effect_1" data-bs-toggle="dropdown" aria-expanded="false" style="width: 200px; margin-left: 15px; margin-bottom: 10px; pointer-events: none; opacity: 0.65; white-space: normal; text-align: left;">
                                Effect 1
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="effect_1" style="max-height: 300px; overflow-y: auto; width: 300px;">
                                <!-- Effects will be populated here dynamically -->
                            </ul>
                        </div>
                        <div class="dropdown" id="effect_2_container">
                            <a href="#" class="btn btn-secondary dropdown-toggle disabled" id="effect_2" data-bs-toggle="dropdown" aria-expanded="false" style="width: 200px; margin-left: 15px; margin-bottom: 10px; pointer-events: none; opacity: 0.65; white-space: normal; text-align: left;">
                                Effect 2
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="effect_2" style="max-height: 300px; overflow-y: auto; width: 300px;">
                                <!-- Effects will be populated here dynamically -->
                            </ul>
                        </div>
                        <div class="dropdown" id="effect_3_container">
                            <a href="#" class="btn btn-secondary dropdown-toggle disabled" id="effect_3" data-bs-toggle="dropdown" aria-expanded="false" style="width: 200px; margin-left: 15px; margin-bottom: 10px; pointer-events: none; opacity: 0.65; white-space: normal; text-align: left;">
                                Effect 3
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="effect_3" style="max-height: 300px; overflow-y: auto; width: 300px;">
                                <!-- Effects will be populated here dynamically -->
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="clearSelect">Clear Selection</button>
                    <button type="button" class="btn btn-primary" id="closeModal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Effects Aggregate Table -->
    <div>
        <table id="effects_aggregate">
            <!-- Headers for Effects Table -->
             <th class="aggHead">Effect</th>
             <th class="aggHead">Count</th>
             <th class="aggHead">Stackable</th>
             <th class="aggHead">Notes</th>
                <tbody id="effects_aggregate_body">
                    <!-- Effect rows will be populated here dynamically -->
                </tbody>
        </table>
    </div>

    <script>
        // Global variables
        const fileImg = '/static/images/relic_colors/COLOR.png';
        const whiteFileImg = '/static/images/relic_colors/white.png';
        const stdRelicImg = '/static/images/relic_images/standard_relic_images/COLOR_TYPE.png';
        const deepRelicImg = '/static/images/relic_images/deep_relic_images/deep_COLOR_TYPE.png';
        const sovereignRelicImg = '/static/images/relic_images/sovereign_relic_images/NAME_COLOR.png';
        const remembranceRelicImg = '/static/images/relic_images/remem_relic_images/NAME_COLOR.png';

        let allRelicEffects = [];
        let currentSlotIndex = null;
        let guaranteedRelics = [];
        let selectedChaliceId = null;

        // Slot configuration dictionary
        const slotConfig = {
            0: { version: null, type: null, effects: [], imageSrc: '' },
            1: { version: null, type: null, effects: [], imageSrc: '' },
            2: { version: null, type: null, effects: [], imageSrc: '' },
            3: { version: null, type: null, effects: [], imageSrc: '' },
            4: { version: null, type: null, effects: [], imageSrc: '' },
            5: { version: null, type: null, effects: [], imageSrc: '' }
        }

        // Function to fetch guaranteed relics from the API
        async function loadGuaranteedRelics() {
            if (guaranteedRelics.length > 0) {
                return; // Already loaded
            }
            try {
                const response = await fetch('/api/guaranteed-relics');
                if (!response.ok) {
                    throw new Error('Failed to load guaranteed relics');
                }
                guaranteedRelics = await response.json();
                console.log(`Loaded ${guaranteedRelics.length} guaranteed relics`);
            } catch (error) {
                console.error('Error loading guaranteed relics:', error);
            }
        }

        // Function to fetch relic effects from the API
        async function loadRelicEffects() {
            if (allRelicEffects.length > 0) {
                return; // Already loaded
            }
            try {
                const response = await fetch('/api/relic-effects');
                if (!response.ok) {
                    throw new Error('Failed to load relic effects');
                }
                allRelicEffects = await response.json();
                console.log(`Loaded ${allRelicEffects.length} relic effects`);
            } catch (error) {
                console.error('Error loading relic effects:', error);
            }
        }

        // Function to populate effect dropdowns with filtered effects
        function populateEffectDropdowns(isDeep) {
            // Filter effects based on version
            const filteredEffects = allRelicEffects.filter(effect => effect.is_deep === isDeep);
            
            // Sort effects alphabetically by description
            filteredEffects.sort((a, b) => a.description.localeCompare(b.description));
            
            // Populate each dropdown
            ['effect_1', 'effect_2', 'effect_3'].forEach(effectId => {
                const dropdown = document.querySelector(`#${effectId}`).nextElementSibling;
                dropdown.innerHTML = ''; // Clear existing items
                
                filteredEffects.forEach(effect => {
                    const li = document.createElement('li');
                    const a = document.createElement('a');
                    a.className = 'dropdown-item';
                    a.href = '#';
                    a.textContent = effect.description;
                    a.dataset.effectId = effect.id;
                    a.dataset.effectDescription = effect.description;
                    a.style.whiteSpace = 'normal';
                    a.style.wordWrap = 'break-word';
                    
                    a.addEventListener('click', function(e) {
                        e.preventDefault();
                        document.getElementById(effectId).textContent = effect.description;
                    });
                    
                    li.appendChild(a);
                    dropdown.appendChild(li);
                });
            });
        }

        // Function to reset modal UI to default state
        function resetModalUI() {
            // Reset all dropdown texts
            document.getElementById('relicVersion').textContent = 'Select Version';
            document.getElementById('relicDropdown').textContent = 'Select Relic Type';
            document.getElementById('sovereignDropdown').textContent = 'Sovereign';
            document.getElementById('remembranceDropdown').textContent = 'Remembrance';
            document.getElementById('effect_1').textContent = 'Effect 1';
            document.getElementById('effect_2').textContent = 'Effect 2';
            document.getElementById('effect_3').textContent = 'Effect 3';
            
            // Re-disable the relic type dropdown
            const relicTypeButton = document.getElementById('relicDropdown');
            relicTypeButton.classList.add('disabled');
            relicTypeButton.style.pointerEvents = 'none';
            relicTypeButton.style.opacity = '0.65';
            relicTypeButton.removeAttribute('data-bs-toggle');
            
            // Re-disable sovereign dropdown
            const sovereignButton = document.getElementById('sovereignDropdown');
            sovereignButton.classList.add('disabled');
            sovereignButton.style.pointerEvents = 'none';
            sovereignButton.style.opacity = '0.65';
            sovereignButton.removeAttribute('data-bs-toggle');
            
            // Re-disable remembrance dropdown
            const remembranceButton = document.getElementById('remembranceDropdown');
            remembranceButton.classList.add('disabled');
            remembranceButton.style.pointerEvents = 'none';
            remembranceButton.style.opacity = '0.65';
            remembranceButton.removeAttribute('data-bs-toggle');
            
            // Re-disable effect buttons
            ['effect_1', 'effect_2', 'effect_3'].forEach(effectId => {
                const button = document.getElementById(effectId);
                button.classList.add('disabled');
                button.style.pointerEvents = 'none';
                button.style.opacity = '0.65';
                button.removeAttribute('data-bs-toggle');
            });
            
            // Hide and clear the relic type overlay image
            const relicTypeModal = document.getElementById('relicTypeModal');
            relicTypeModal.style.display = 'none';
            relicTypeModal.src = '';
            relicTypeModal.alt = 'Relic Type Image';
        }

        // Function to add slotConfig effects to aggregate table
        function updateEffectsAggregateTable() {
            // Remove all existing rows of aggregate table
            const tableBody = document.getElementById('effects_aggregate_body');
            tableBody.innerHTML = '';

            // For each slot (0-5):
            for (let i = 0; i < 6; i++) {
                const config = slotConfig[i];

                // Check for config undefined
                if (!config || !config.effects) {
                    continue; // Skip if no config or effects
                }

                config.effects.forEach(effect => {
                    if (effect) {
                        // Find matching relic effect
                        const effectData = allRelicEffects.find(e => e.description.toLowerCase() === effect.toLowerCase());
                        if (effectData) {
                            // Create new row
                            const row = document.createElement('tr');
                            const descCell = document.createElement('td');
                            const countCell = document.createElement('td');
                            const stackCell = document.createElement('td');
                            const noteCell = document.createElement('td');

                            // Check if effect already exists in table
                            const existingRow = Array.from(tableBody.rows).find(r => r.cells[0].textContent === effectData.description);
                            if (existingRow) {
                                // Increment count
                                const currentCount = parseInt(existingRow.cells[1].textContent);
                                existingRow.cells[1].textContent = currentCount + 1;
                            } else {
                                // New effect row
                                descCell.textContent = effectData.description;
                                countCell.textContent = '1';
                                stackCell.textContent = effectData.stackable;
                                noteCell.textContent = effectData.notes || '';

                                row.appendChild(descCell);
                                row.appendChild(countCell);
                                row.appendChild(stackCell);
                                row.appendChild(noteCell);

                                tableBody.appendChild(row);
                            }
                        } else {
                            console.warn(`Effect not found in database: ${effect}`);
                            const row = document.createElement('tr');
                            const descCell = document.createElement('td');
                            const countCell = document.createElement('td');
                            const stackCell = document.createElement('td');
                            const noteCell = document.createElement('td');

                            descCell.textContent = effect + " (Effect data not found)";
                            countCell.textContent = 'N/A';
                            stackCell.textContent = 'N/A';
                            noteCell.textContent = 'N/A';

                            row.appendChild(descCell);
                            row.appendChild(countCell);
                            row.appendChild(stackCell);
                            row.appendChild(noteCell);
                            tableBody.appendChild(row);
                        }
                    }
                })
            }
        }

        // Function to load existing slot config into modal
        function loadSlotConfigIntoModal(slotIndex) {
            const config = slotConfig[slotIndex];
            
            // If slot has saved config, load it
            if (config && config.version) {
                // Set version
                document.getElementById('relicVersion').textContent = config.version;
                
                // Check version and enable appropriate buttons
                if (config.version === 'Standard' || config.version === 'Deep') {
                    // Enable type dropdown for Standard/Deep
                    const relicTypeButton = document.getElementById('relicDropdown');
                    relicTypeButton.classList.remove('disabled');
                    relicTypeButton.style.pointerEvents = 'auto';
                    relicTypeButton.style.opacity = '1';
                    relicTypeButton.setAttribute('data-bs-toggle', 'dropdown');
                    
                    // If type is saved, populate effects and enable buttons based on type
                    if (config.type) {
                        relicTypeButton.textContent = config.type;
                        
                        // Populate effect dropdowns based on VERSION (not type)
                        const isDeep = config.version === 'Deep';
                        populateEffectDropdowns(isDeep);
                        
                        // Determine how many effects to enable based on TYPE
                        let effectCount = 3; // Default for Grand
                        if (config.type === 'Delicate') {
                            effectCount = 1;
                        } else if (config.type === 'Polished') {
                            effectCount = 2;
                        }
                        
                        // Enable appropriate number of effect buttons
                        for (let i = 1; i <= effectCount; i++) {
                            const effectButton = document.getElementById(`effect_${i}`);
                            effectButton.classList.remove('disabled');
                            effectButton.style.pointerEvents = 'auto';
                            effectButton.style.opacity = '1';
                            effectButton.setAttribute('data-bs-toggle', 'dropdown');
                        }
                    }
                } else if (config.version === 'Sovereign' || config.version === 'Remembrance') {
                    // For Sovereign/Remembrance, enable their respective button
                    // Effect buttons stay disabled for these versions
                    
                    if (config.version === 'Sovereign') {
                        const sovereignButton = document.getElementById('sovereignDropdown');
                        sovereignButton.classList.remove('disabled');
                        sovereignButton.style.pointerEvents = 'auto';
                        sovereignButton.style.opacity = '1';
                        sovereignButton.setAttribute('data-bs-toggle', 'dropdown');
                    } else if (config.version === 'Remembrance') {
                        const remembranceButton = document.getElementById('remembranceDropdown');
                        remembranceButton.classList.remove('disabled');
                        remembranceButton.style.pointerEvents = 'auto';
                        remembranceButton.style.opacity = '1';
                        remembranceButton.setAttribute('data-bs-toggle', 'dropdown');
                    }
                }
                
                // Set effects if present
                config.effects.forEach((effect, index) => {
                    const effectId = `effect_${index + 1}`;
                    if (effect) {
                        document.getElementById(effectId).textContent = effect;
                    }
                });
                
                // Set image if present
                if (config.imageSrc) {
                    const relicTypeModal = document.getElementById('relicTypeModal');
                    relicTypeModal.src = config.imageSrc;
                    relicTypeModal.style.display = 'block';
                }
            }
        }

        // User clicks "Save All" button
        document.getElementById('saveAllBtn').addEventListener('click', function() {

            // Send data to server via POST request
            fetch('/api/save-workshop', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token() }}'
                },
                // eslint-disable-next-line
                body: JSON.stringify({
                    character_id: {{ character.id }},
                    chalice_id: selectedChaliceId,
                    slotConfig: slotConfig
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to save relics');
                }
                return response.json();
            })
            .then(data => {
                if (data.status === 'success') {
                    alert('Relics saved successfully!');
                } else {
                    alert('Error saving relics. Please try again.');
                }
            })
            .catch(error => {
                console.error('Error saving relics:', error);
                alert('Error saving relics. Please try again.');
            });
        });

        // Tracks what index slot the user is modifying
        document.querySelectorAll('.relic_slot_color').forEach(slotImg => {
            slotImg.addEventListener('click', function() {
                currentSlotIndex = this.id;
                // Reset modal first, then load existing config if present
                resetModalUI();
                loadSlotConfigIntoModal(currentSlotIndex);
            });
        });    

        // Update chalice dropdown button text and load slots on selection
        document.querySelectorAll('#chaliceDropdown .dropdown-item').forEach(item => {
            item.addEventListener('click', function(event) {
                event.preventDefault();
                const selectedChalice = this.textContent.trim();
                document.getElementById('workshopDropdown').textContent = selectedChalice;

                // Call API to get chalice slot colors and chalice ID
                fetch(`/api/chalice-slots/${selectedChalice}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to load chalice slots');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const slotColors = data.colors;
                        selectedChaliceId = data.id;
                        
                        // Update slot images based on colors
                        slotColors.forEach((color, index) => {
                            const slotImg = document.getElementById(index.toString());
                            if (color) {
                                slotImg.src = fileImg.replace('COLOR', color.toLowerCase());
                                slotImg.alt = `${color} Slot`;
                            } else {
                                slotImg.src = whiteFileImg;
                                slotImg.alt = `Empty Slot`;
                            }
                            
                            // Clear any existing layered relic image
                            const layeredImg = document.getElementById(`relic_layered_image_${index}`);
                            layeredImg.src = '';
                            layeredImg.alt = '';
                            
                            // Reset slotConfig for this slot
                            slotConfig[index] = { version: null, type: null, effects: [], imageSrc: '' };
                        });
                        
                        // Reset modal and update aggregate table AFTER slots are cleared
                        resetModalUI();   
                        updateEffectsAggregateTable();
                    })
                    .catch(error => {
                        console.error('Error loading chalice slots:', error);
                    });
            });
        });
        
        // Event listeners for each slot image to handle relic selection
        document.querySelectorAll('.relic_slot_color').forEach(slotImg => {
            slotImg.addEventListener('click', function() {
                if (this.alt === "Empty Slot") {
                    return; // Do nothing if slot is empty
                }
                else {
                    // Obtain relic slot color index and slot color
                    const relicImageModal = document.getElementById('relicImageModal');
                    const slotIndex = this.id;
                    const slotColor = this.alt.split(' ')[0]; // Get color from alt text
                    relicImageModal.src = fileImg.replace('COLOR', slotColor);
                    relicImageModal.alt = `${slotColor} Relic`;
                    
                    // Show the modal
                    bootstrap.Modal.getOrCreateInstance(document.getElementById('relicBuilder')).show();
                }
            });
        });
        
        // Update relic version dropdown in modal
        document.querySelectorAll('.dropdown-menu[aria-labelledby="relicVersion"] .dropdown-item').forEach(item => {
            item.addEventListener('click', function(event) {
                event.preventDefault();
                
                const selectedVersion = this.textContent.trim();
                const versionDropdownChange = document.getElementById('relicVersion');
                const relicTypeButton = document.getElementById('relicDropdown');
                const sovereignMenubutton = document.getElementById('sovereignDropdown');
                const remembranceMenuButton = document.getElementById('remembranceDropdown');
                const relicTypeModal = document.getElementById('relicTypeModal');
                
                versionDropdownChange.textContent = selectedVersion;
                
                // Reset relic type button and hide overlay image whenever version changes
                relicTypeButton.textContent = 'Select Relic Type';
                relicTypeModal.style.display = 'none';
                relicTypeModal.src = '';
                
                // Reset sovereign and remembrance button texts
                sovereignMenubutton.textContent = 'Sovereign';
                remembranceMenuButton.textContent = 'Remembrance';                
                
                // Reset and disable all effect buttons whenever version changes
                ['effect_1', 'effect_2', 'effect_3'].forEach((effectId, index) => {
                    const button = document.getElementById(effectId);
                    button.textContent = `Effect ${index + 1}`;
                    button.classList.add('disabled');
                    button.style.pointerEvents = 'none';
                    button.style.opacity = '0.65';
                    button.removeAttribute('data-bs-toggle');
                });
                
                // Enable relic version dropdown and effect buttons for Standard or Deep
                if (selectedVersion === 'Standard' || selectedVersion === 'Deep') {
                    // Load effects if not already loaded
                    if (allRelicEffects.length === 0) {
                        loadRelicEffects().then(() => {
                            populateEffectDropdowns(selectedVersion === 'Deep');
                        });
                    } else {
                        populateEffectDropdowns(selectedVersion === 'Deep');
                    }
                    
                    // Enable relic type dropdown
                    relicTypeButton.classList.remove('disabled');
                    relicTypeButton.style.pointerEvents = 'auto';
                    relicTypeButton.style.opacity = '1';
                    relicTypeButton.setAttribute('data-bs-toggle', 'dropdown');
                } else {
                    // Disable relic type dropdown
                    relicTypeButton.classList.add('disabled');
                    relicTypeButton.style.pointerEvents = 'none';
                    relicTypeButton.style.opacity = '0.65';
                    relicTypeButton.removeAttribute('data-bs-toggle');
                    
                    // Disable effect buttons
                    ['effect_1', 'effect_2', 'effect_3'].forEach(effectId => {
                        const button = document.getElementById(effectId);
                        button.classList.add('disabled');
                        button.style.pointerEvents = 'none';
                        button.style.opacity = '0.65';
                        button.removeAttribute('data-bs-toggle');
                    });
                }
                
                // Enable sovereign/remembrance menus based on version
                if (selectedVersion === 'Sovereign') {
                    sovereignMenubutton.classList.remove('disabled');
                    sovereignMenubutton.style.pointerEvents = 'auto';
                    sovereignMenubutton.style.opacity = '1';
                    sovereignMenubutton.setAttribute('data-bs-toggle', 'dropdown');
                    
                    // Filter sovereign options by slot color
                    const slotColor = document.getElementById('relicImageModal').alt.split(' ')[0].toLowerCase();
                    document.querySelectorAll('#sovereign_menu .dropdown-item').forEach(item => {
                        const relicColor = item.getAttribute('data-color');
                        if (relicColor && relicColor.toLowerCase() === slotColor) {
                            item.style.display = 'block';
                        } else {
                            item.style.display = 'none';
                        }
                    });
                    
                } else {
                    sovereignMenubutton.classList.add('disabled');
                    sovereignMenubutton.style.pointerEvents = 'none';
                    sovereignMenubutton.style.opacity = '0.65';
                    sovereignMenubutton.removeAttribute('data-bs-toggle');
                }

                if (selectedVersion === 'Remembrance') {
                    remembranceMenuButton.classList.remove('disabled');
                    remembranceMenuButton.style.pointerEvents = 'auto';
                    remembranceMenuButton.style.opacity = '1';
                    remembranceMenuButton.setAttribute('data-bs-toggle', 'dropdown');
                    
                    const slotColor = document.getElementById('relicImageModal').alt.split(' ')[0].toLowerCase();
                    document.querySelectorAll('#remembrance_menu .dropdown-item').forEach(item => {
                        const relicColor = item.getAttribute('data-color');
                        if (relicColor && relicColor.toLowerCase() === slotColor) {
                            item.style.display = 'block';
                        } else {
                            item.style.display = 'none';
                        }
                    });
                    
                } else {
                    remembranceMenuButton.classList.add('disabled');
                    remembranceMenuButton.style.pointerEvents = 'none';
                    remembranceMenuButton.style.opacity = '0.65';
                    remembranceMenuButton.removeAttribute('data-bs-toggle');
                }
            });
        });
        
        // Update relic type dropdown in modal
        document.querySelectorAll('#modalDropdownRelicType .dropdown-item').forEach(item => {
            item.addEventListener('click', function(event) {
                event.preventDefault();
                
                const selectedRelicType = this.textContent.trim();
                const selectRelicVersion = document.getElementById('relicVersion').textContent.trim();
                const relicDropdownChange = document.getElementById('modalDropdownRelicType').querySelector('.btn');
                const slotColor = document.getElementById('relicImageModal').alt.split(' ')[0];
                const delicate = document.getElementById('r1');
                const polished = document.getElementById('r2');
                const grand = document.getElementById('r3');
                
                relicDropdownChange.textContent = selectedRelicType;
                
                // Layer relic image based on id of type and slot color
                if (relicDropdownChange.textContent === "Select Relic Type") {
                    return; // Do nothing if no type selected
                }
                else {
                    // Determine which relic image depending on version selected
                    const relicTypeModal = document.getElementById('relicTypeModal');
                    if (selectRelicVersion === 'Standard') {
                        relicTypeModal.src = stdRelicImg.replace('COLOR', slotColor).replace('TYPE', this.id.toLowerCase());
                    } else if (selectRelicVersion === 'Deep') {
                        relicTypeModal.src = deepRelicImg.replace('COLOR', slotColor).replace('TYPE', this.id.toLowerCase());
                    }
                    else if (selectRelicVersion === 'Sovereign') {
                        const sovereignName = document.getElementById('sovereignDropdown').textContent.trim().toLowerCase();
                        relicTypeModal.src = sovereignRelicImg.replace('NAME', sovereignName.replace(' ', '_')).replace('COLOR', slotColor);
                    }
                    else if (selectRelicVersion === 'Remembrance') {
                        const remembranceName = document.getElementById('remembranceDropdown').textContent.trim().toLowerCase();
                        relicTypeModal.src = remembranceRelicImg.replace('NAME', remembranceName.replace(' ', '_')).replace('COLOR', slotColor);
                    }
                    
                    relicTypeModal.style.display = "block";
                    relicTypeModal.alt = `${selectedRelicType} Type`;
                    
                    // Enable effect buttons based on selected relic type
                    const selectedTypeLower = selectedRelicType.toLowerCase();
                    
                    // First reset and disable all effect buttons
                    ['effect_1', 'effect_2', 'effect_3'].forEach((effectId, index) => {
                        const button = document.getElementById(effectId);
                        button.textContent = `Effect ${index + 1}`;
                        button.classList.add('disabled');
                        button.style.pointerEvents = 'none';
                        button.style.opacity = '0.65';
                        button.removeAttribute('data-bs-toggle');
                    });
                    
                    // Then enable based on type
                    if (selectedTypeLower === 'delicate') {
                        const button = document.getElementById('effect_1');
                        button.classList.remove('disabled');
                        button.style.pointerEvents = 'auto';
                        button.style.opacity = '1';
                        button.setAttribute('data-bs-toggle', 'dropdown');
                    } else if (selectedTypeLower === 'polished') {
                        ['effect_1', 'effect_2'].forEach(effectId => {
                            const button = document.getElementById(effectId);
                            button.classList.remove('disabled');
                            button.style.pointerEvents = 'auto';
                            button.style.opacity = '1';
                            button.setAttribute('data-bs-toggle', 'dropdown');
                        });
                    } else if (selectedTypeLower === 'grand') {
                        ['effect_1', 'effect_2', 'effect_3'].forEach(effectId => {
                            const button = document.getElementById(effectId);
                            button.classList.remove('disabled');
                            button.style.pointerEvents = 'auto';
                            button.style.opacity = '1';
                            button.setAttribute('data-bs-toggle', 'dropdown');
                        });
                    }
                }
            });
        });
        
        // Update sovereign dropdown button text on selection
        document.querySelectorAll('#sovereign_menu .dropdown-item').forEach(item => {
            item.addEventListener('click', async function(event) {
                event.preventDefault();
                const selectedSovereign = this.textContent.trim();
                document.getElementById('sovereignDropdown').textContent = selectedSovereign;
                
                // Load guaranteed relics if not already loaded
                await loadGuaranteedRelics();
                
                // Load sovereign relic image
                const slotColor = document.getElementById('relicImageModal').alt.split(' ')[0].toLowerCase();
                const sovereignName = selectedSovereign.toLowerCase().replace(/ /g, '_').replace(/[()]/g, '');
                const relicTypeModal = document.getElementById('relicTypeModal');
                relicTypeModal.src = sovereignRelicImg.replace('NAME', sovereignName).replace('COLOR', slotColor);
                relicTypeModal.style.display = "block";
                relicTypeModal.alt = `${selectedSovereign}`;
                
                // Populate effects based on selected sovereign relic
                const selectedRelic = guaranteedRelics.find(relic => relic.is_rememberance === false && relic.name === selectedSovereign);
                if (selectedRelic) {
                    for (let i = 1; i <= 3; i++) {
                        const effectText = selectedRelic[`effect_${i}`];
                        const button = document.getElementById(`effect_${i}`);
                        if (effectText) {
                            button.textContent = effectText;
                            button.style.opacity = '1';
                        } else {
                            button.textContent = `Effect ${i}`;
                            button.style.opacity = '0.65';
                        }
                    }
                }
            });
        });
        
        // Update remembrance dropdown button text on selection
        document.querySelectorAll('#remembrance_menu .dropdown-item').forEach(item => {
            item.addEventListener('click', async function(event) {
                event.preventDefault();
                const selectedRemembrance = this.textContent.trim();
                document.getElementById('remembranceDropdown').textContent = selectedRemembrance;
                
                // Load guaranteed relics if not already loaded
                await loadGuaranteedRelics();
                
                // Load remembrance relic image
                const slotColor = document.getElementById('relicImageModal').alt.split(' ')[0].toLowerCase();
                const remembranceName = selectedRemembrance.toLowerCase().replace(/"/g, '').replace(/[()]/g, '').replace(/ /g, '_');
                const relicTypeModal = document.getElementById('relicTypeModal');
                relicTypeModal.src = remembranceRelicImg.replace('NAME', remembranceName).replace('COLOR', slotColor);
                relicTypeModal.style.display = "block";
                relicTypeModal.alt = `${selectedRemembrance}`;
                
                // Populate effects based on selected remembrance relic
                const selectedRelic = guaranteedRelics.find(relic => relic.is_rememberance === true && relic.name === selectedRemembrance);
                if (selectedRelic) {
                    for (let i = 1; i <= 3; i++) {
                        const effectText = selectedRelic[`effect_${i}`];
                        const button = document.getElementById(`effect_${i}`);
                        if (effectText) {
                            button.textContent = effectText;
                            button.style.opacity = '1';
                        } else {
                            button.textContent = `Effect ${i}`;
                            button.style.opacity = '0.65';
                        }
                    }
                }
            });
        });
        
        // Reset modal state when "Clear Selection" button is clicked
        const clearSelection = document.getElementById('clearSelect');
        clearSelection.addEventListener('click', function() {
            // Clear the current slot's configuration
            if (currentSlotIndex !== null) {
                slotConfig[currentSlotIndex] = { version: null, type: null, effects: [], imageSrc: '' };
                
                // Clear the slot's layered image
                const layeredImg = document.getElementById(`relic_layered_image_${currentSlotIndex}`);
                layeredImg.src = '';
                layeredImg.alt = '';
            }
            
            resetModalUI();
            updateEffectsAggregateTable();
        });
        
        // Close modal button - save to slot config and reset
        const closeModalButton = document.getElementById('closeModal');
        closeModalButton.addEventListener('click', function() {
            // set key values for slotConfig when modal closed 
            const slotIndex = currentSlotIndex;
            if (slotIndex !== null) {
                const version = document.getElementById('relicVersion').textContent.trim();
                const type = document.getElementById('modalDropdownRelicType').querySelector('.btn').textContent.trim();
                const relicImageSrc = document.getElementById('relicTypeModal').src || '';
                
                // Check if modal is still in default state (nothing selected)
                const isDefaultState = version === 'Select Version' && 
                !relicImageSrc.includes('/static/images/relic_images/');
                
                if (isDefaultState) {
                    // Modal is empty, just reset and don't save
                    resetModalUI();
                    return;
                }
                
                // Gather effects
                const effects = [];
                ['effect_1', 'effect_2', 'effect_3'].forEach(effectId => {
                    const effectText = document.getElementById(effectId).textContent.trim();
                    if (effectText.startsWith('Effect')) {
                        effects.push(null);
                    } else {
                        effects.push(effectText);
                    }
                });
                
                slotConfig[slotIndex] = {
                    version: version !== 'Select Version' ? version : null,
                    type: type !== 'Select Relic Type' ? type : null,
                    effects: effects,
                    imageSrc: relicImageSrc
                };
                
                console.log(`Updated slot ${slotIndex} config:`, slotConfig[slotIndex]);
                
                // Update the slot's layered image to show the configured relic
                if (relicImageSrc) {
                    const layeredImg = document.getElementById(`relic_layered_image_${slotIndex}`);
                    layeredImg.src = relicImageSrc;
                    layeredImg.alt = type || 'Relic';
                }

                // check if clear selection was used to clear the slot
                if (isDefaultState) {
                    const layeredImg = document.getElementById(`relic_layered_image_${slotIndex}`);
                    layeredImg.src = '';
                    layeredImg.alt = '';
                } else {
                    // Update effects aggregate table
                    updateEffectsAggregateTable();
                }
 
                // Reset the modal UI
                resetModalUI();
            }
        });  

        // Initialize slots to white on page load and load relic effects
        window.addEventListener('load', function() {
            console.log('Initializing slots to white...');
            console.log('whiteFileImg path:', whiteFileImg);
            for (let i = 0; i < 6; i++) {
                const slotElement = document.getElementById(i.toString());
                console.log(`Slot ${i}:`, slotElement);
                if (slotElement) {
                    slotElement.src = whiteFileImg;
                    slotElement.alt = "Empty Slot";
                    console.log(`Set slot ${i} src to:`, slotElement.src);
                } else {
                    console.error(`Slot ${i} element not found!`);
                }
            }
            
            // Load relic effects on page load so they're available for all relic types
            loadRelicEffects();
        });
        
    </script>
{% endblock %}